@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great');

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.header > h1 {
  margin: 0 px;
  font-family: 'Fredericka the Great', cursive;
  font-size: 4rem;
}

.header a {
  text-decoration: none;
  color: #df8d03;
}
